.square {
	border: solid 1px #000;
  width: 6.25%;
	height: 6vw;
	float: left;
  display:block;
	background-size: cover;
}

.span {
	vertical-align:top;
	font-size: 0.8vw;
}

#container {
    width: 100%;
}

.image {
}

h1 {
	color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
   }

#stats {
    font-size: 15px;
    padding-top: 20px;
}
